* {
	font-family: 'Gudea', sans-serif;
}

header {
	background-color: #c4ad92;
	font-family: 'Gudea', sans-serif;
	padding: 10px 0;
	position: fixed;
	z-index: 100;
	width: 100%;
	border-bottom: 1px solid #aa957e;
}

header .row {
	display: flex;
	align-items: center;
}

header nav {
	display: flex;
	justify-content: flex-end;
}

#logo {
	height: 102px;
}

.nav-btn, .dropdown-btn {
	color: black;
	margin: 0;
	padding: 18px 20px;
	font-size: 16px;
	text-decoration: none;
}

.nav-btn:hover, .nav-btn:focus {
	text-decoration: none;
	color: black;
}

.btn-link, .dropdown-menu li a {
	font-weight: 100;
}

.dropdown-btn:hover {
	text-decoration: none;
	color: black;
}

.btn-group.open {
	background-color: black;
	opacity: .85;
}

#toggle-on, #toggle-on:hover {
	color: #c4ad92;
}

.dropdown-menu {
	background-color: black;
	border-radius: 0;
	border: 0;
	margin-top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: none;
}

.dropdown-menu li a {
	color: white;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
}

.dropdown-menu li a:hover {
	background-color: black;
	color: #c4ad92;
}

.push-top {
	height: 120px;
}